/* FONTS */

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#RalewayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* PAGE */

body {
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#bloc_page {
    width: 900px;
    height: auto;
    margin: auto;
    border: 1.5px #18A999 solid;
    border-radius: 20px;
    background-color: rgba(253, 253, 215, 0.6);
    padding: 15px;
}

/* HEADER */

header {
    display: flex;
}

/* MENU dans le header */

#menu nav {
    border-bottom: 3px #5E3C3C solid;
}

#menu nav ul {
    list-style-type: none;
    display: flex;
    font-family: "raleway-regular", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20//19px;
}

#menu nav li {
    margin-right: 20px;
}

#menu nav a {
    font-size: 1.3em;
    color: #5E3C3C;
    padding-bottom: 3px;
    text-decoration: none;
}

#menu nav a:visited {
    text-decoration: none;
}

#menu nav a img {
    visibility: hidden;
}

#menu nav a:hover img {
    visibility: visible;
}

#menu nav a:hover {
    text-decoration: underline;
}

/* FOOTER */

footer {
    border: 1.5px blue solid;
    padding: 10px;
}

footer h3 {
    text-align: center;
}

footer p {
    text-align: center;
}